@{
    ViewData["Title"] = "Home Page";
}

<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
        <h1>LEVPAW</h1>
        <h2 style="color:red">მეორადი ავტო ნაწილები, ამერიკიდან !</h2>
        <a asp-controller="Product" asp-action="Index" class="btn-about">იხილე ნაწილები</a>
     </div>
</section>